@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-red-brand: #e30613;
  --color-red-dark: #b8000b;
  --color-black-brand: #080808;
  --color-black-soft: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #080808;
  color: white;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}